# DS-practice[3] Database Design & Build

[학습목표] <b><span style="color:blue"> 데이터베이스를 설계하고 구축할 수 있다. </span></b>

- <b>Database</b> building
    - ACCESS DB
    - INSERT DB
    - SELECT DB

1) <b>ACCESS DB</b>

In [1]:
SERVER_IP = "202.30.31.17"
DB_NAME = ""

In [2]:
import logging
import pymysql

import socket

def _CheckIP():
    return socket.gethostbyname(socket.gethostname()) == SERVER_IP

def _getHostName():    
    if _CheckIP():
        return "localhost"
    else:
        return SERVER_IP
        
def connectDb(user, password):
    host = _getHostName()

    try:
        return pymysql.connect(host = host, user = user, password = password, db = DB_NAME, charset="utf8")
    except:
        logging.error("Check DB info")
        logging.error("user : " + user + ", password : " + password)

2) <b>INSERT DB</b>

In [3]:
import pandas as pd

data = pd.read_csv("dataset/dbACC.csv")
tupleData = [tuple(x) for x in data.values]

3) <b>SELECT DB</b>

In [5]:
conn = connectDb("std202177777", "202177777")
cur = conn.cursor()

query = ""

cur.execute(query)
result = cur.fetchall()
print(result)

((4, 3, -0.2119, -0.4819, 0.3806), (5, 4, -0.2148, -0.4812, 0.3823))